{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/estilohome.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="https://kit.fontawesome.com/a8027f23d1.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'js/slider.js' %}"></script>

</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx fas fa-bars' id="header-toggle"></i>
        </div>

        <div class="dropdown">
            <i class='bx fas fa-user-circle' id="dropbtn"></i>
            <div class="dropdown-content">

                 
                <a href="#" style="color:white; font-family:verdana; "> Cliente: {{request.user.id_cliente.nombre_empresa}} </a>
                <a href="#" style="color:white; font-family:verdana; " > Correo: {{request.user.email}}</a>
                <a href="#" class="far fa-info"> Mas Informacion </a>
                <a href="#" class="far fa-info"> Mas Informacion </a>
                <a href="#" class="far fa-info"> Mas Informacion </a>
                <a href="#" class='cerrar far fa-door-open nav__icon'> Cerrar Sesion</a>
            </div>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="{% url 'homecliente' %}" class="nav__logo">
                    <i class='bx fas fa-user-shield nav__logo-icon'></i>
                    <span class="nav__logo-name">SCP Sistema Control</span>
                </a>

                <div class="nav__list">
                    <a href="#" class="nav__link">
                        <i class='bx fas fa-user-edit nav__icon' ></i>
                            <span class="nav__name">Perfil</span>
                    </a>
                    
                    <a href="#" class="nav__link">
                    <i class='bx fas fa-file-signature nav__icon' ></i>
                        <span class="nav__name">Solicitudes</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx fas fa-bullhorn nav__icon' ></i>
                        <span class="nav__name">Reporte</span>
                    </a>
                    
                    <a href="#" class="nav__link">
                        <i class='bx far fa-folder-open nav__icon' ></i>
                        <span class="nav__name">Informe</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx fas fa-business-time nav__icon' ></i>
                        <span class="nav__name">Actividades</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx fas fa-file-invoice-dollar nav__icon' ></i>
                        <span class="nav__name">Pagos</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx far fa-handshake nav__icon' ></i>
                        <span class="nav__name">Contrataciones</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx fas fa-user-injured nav__icon' ></i>
                        <span class="nav__name">Multas</span>
                    </a>
                </div>
            </div>
        
            <a href="{% url 'logout' %}" class="nav__link">
                <i class='bx fas fa-door-open nav__icon' ></i>
                <span class="nav__name">Salir</span>
            </a>
        </nav>
    </div>
    <!-- fin estatico -->

	<!-- dinamico -->
	{% block content %}
    {% endblock %}
    <!-- fin dinamico -->
		
    <!-- estatico -->
    <!-- footer -->
	<footer id="footer">
        <p class="copyright">&copy; Portafolio Titulo. Diseñado: <a>Grupo 1</a>.</p>
    </footer>
    <!-- fin estatico -->
	
	<!-- Compiled and minified JavaScript -->
	<!-- Otros JS -->
    <script src="{% static 'js/mainmenu.js' %}"></script>
    <script src="{% static 'js/botonsubir.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire ({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}
    {% block carga_js %}
    {% endblock %}
</body>
</html>