{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Registrar actividades- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Registar actividades de mejora para el cliente</h4>
                                    <p>Seccion donde se ingresaran mejoras para que el cliente pueda mejorar en su empresa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Actividades de Mejora</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <!-- FORMULARIO -->
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-640">
                                        <form action="" method="POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Rut cliente</label>
                                                    <div class="col-sm-10">
                                                        <select name="id_cliente_a" id="id_cliente_a">
                                                            <option value="">Seleccionar</option>
                                                            {% for c in data %}
                                                                <option value="{{c.0}}">{{c.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        
                                                    </div> 
                                                    
                                                </div>
                                                <br>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Origen</label>
                                                    <div class="col-sm-10">
                                                        <select name="origen">
                                                            <option value="">Seleccionar</option>
                                                            <option value="Checklist">Checklist</option>
                                                            <option value="Accidente">Accidente</option>
                                                            <option value="Fiscalización">Fiscalización</option>
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                                                <br>
                                                <div class="form-group row"> 
                                                    <label class="col-sm-2 col-form-label" for="">Actividad</label>
                                                    <div class="col-sm-10">
                                                        <textarea name="actividad" rows="9" cols="50"> </textarea>
                                                    </div> 
                                                    
                                                </div>
                                                <br>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Estado</label>
                                                    <div class="col-sm-10">
                                                        <select name="estado">
                                                            <option value="">Seleccionar</option>
                                                            <option value="Pendiente">Pendiente</option>
                                                            <option value="En proceso">En proceso</option>
                                                            <option value="Completado">Completado</option>
                                                        </select>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <ul class="j-footer">
                                                <button type="submit" name=guardar class="btn btn-primary">Guardar</button>
                                                <button href="{% url 'homeprofesional' %}" class="btn btn-default m-r-20">Cancelar</button>
                                            </ul>                    
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tree seccion - script -->
<script>
    document.getElementById('id_cliente_a').value = getSavedValue('id_cliente_a');

function saveValue(e){
    var id = e.id;
    var val = e.value;
    localStorage.setItem(id,val);
}

function getSavedValue(v){
    if(!localStorage.getItem(v)){
        return "";
    }
    return localStorage.getItem(v);
}    

</script>

<!-- fin dinamico -->
{% endblock %}