{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Administración de solicitudes- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- CONTENIDO -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Registro de solicitudes</h4>
                                    <p>Sección donde el profesional podrá registrar las solicitudes.</p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Registro de solicitudes</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <!-- FORMULARIO -->
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-640">
                                        <form action ="" method = "POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <!-- CLIENTE - PROFESIONAL -->
                                                <div class="j-row">
                                                    <div class="j-span6 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="">
                                                                <i class="icofont icofont-id"></i>
                                                            </label>
                                                            <select name="cliente_id_prof" id="cliente_id_prof">
                                                                <option value="">Seleccionar</option>
                                                                {% for c in cliente_id_prof %}
                                                                    <option value="{{c.0}}">{{c.1}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="j-span6 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="">
                                                                <i class="icofont icofont-id"></i>
                                                            </label>
                                                            <input class="form-control form-control-uppercase" type="text" name="id_profesional" id = "prof" value="{{request.user.id_prof.id_profesional}}" placeholder="RUT Profesional" maxlength="10" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- TIPO SOLICITUD - DETALLE -->
                                                <div class="j-row">
                                                    <div class="j-span12 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-input j-select" for="">
                                                                <select class="" name="tipo_solicitud" id="tipo_solicitud">
                                                                    <option value="">Tipo Solicitud</option>
                                                                    {% for c in tipo_solicitud %}
                                                                        <option value="{{c.0}}">{{c.1}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <i></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="j-row">
                                                    <div class="j-span12 j-unit">
                                                        <div class="j-input">
                                                            
                                                            <textarea class="form-control" type="text" name="detalle"  placeholder="Detalle Solicitud"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- FECHA - HORA -->
                                                <div class="j-row">
                                                    <div class="j-span6 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="">
                                                                <i class="icofont icofont-calendar"></i>
                                                            </label>
                                                            <input class="form-control" type="text" name="fecha" value="{% now 'd/m/Y' %}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="j-span6 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="">
                                                                <i class="icofont icofont-clock-time"></i>
                                                            </label>
                                                            <input class="form-control" type="text" name="hora" value="{% now 'H:i' %}" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ESTADO SOLICITUD -->
                                                <div class="j-unit">
                                                    <label class="j-input j-select" for="">
                                                        <select class="" name="estado_solicitud" id="estado_solicitud">
                                                            <option value="">Seleccionar Estado Solicitud</option>
                                                            {% for c in estado_solicitud %}
                                                                <option value="{{c.0}}">{{c.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <br>
                                            <!-- BUTO ENVIAR -->
                                            <div class="j-footer">
                                                <button type="submit" value="Guardar" class="btn btn-primary">Guardar</button>
                                                <button href="{% url 'homeprofesional' %}" class="btn btn-default m-r-20">Cancelar</button>
                                            </div>                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- fin dinamico -->
{% endblock %}