{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Editar item de checklist- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Editar Item</h4>
                                    <p>En esta seccion se podra editar el item seleccionado de la lista de checklist del cliente. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'listar-checklist' %}">Buscar Checklist</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Editar Item</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-640">
                                        <form method="POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <div class="form-group row">
                                                    {{form.checklist}}
                                                </div>                                                
                                                <div class="ocultar-item">
                                                    {{form.resultado}}
                                                </div>                                            
                                                <div class="ocultar-item">
                                                    {{form.id_cliente}}
                                                </div> 
                                            </div>       
                                            <div class="j-footer"> 
                                                <button type="submit" class="btn btn-primary" name="Responder check">Modificar</button>
                                                <button href="{% url 'listar-checklist' %}" class="btn btn-default m-r-20">Cancelar</button>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- fin dinamico -->
{% endblock %}