
 {% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Inicio - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Home Checklist-->
		<div class="borde">
            <h2 class="major"> Solicitudes</h2>
            <div class="fields">
                <ul class="actions">
                    <li><a href="{% url 'crear-solicitud' %}" class="button">Crear Solicitud</a></li>
                    <li><a href="#" class="button">Borrar si no sirve</a></li>
                    <li><a href="{% url 'listar-solicitud' %}" class="button">Listar Solicitud</a></li>
                    
                </ul>
            </div>
            
        </div>  

		<!-- fin dinamico -->
		{% endblock %}  