{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Asignar Profesional y Servicios - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Slider-->
        <br>
        <div class="borde-centro">
            <div class="contorno-marco">
                <div class="borde">
                    <div class="title-home">
                        <h2 class="major">Agendar Visita </h2>
                    </div>
                    <div class="fields">
                        <ul class="actions-home">
                            <li><a href="{% url 'agendar_visita' %}" class="button-home">Registrar Visita</a></li>
                        </ul>
                    </div>
                    
                </div> 
            </div>
        </div>
		 

		<!-- fin dinamico -->
		{% endblock %}