{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Inicio Cliente - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - home registros-->
		<br>
        <div class="borde-centro">
            <div class="contorno-marco">
                <div class="borde">
                    <div class="title-home">
                        <h2 class="major">Registrar Usuario</h2>
                    </div>
                    <div class="fields">
                        <ul class="actions-home">
                            <li><a href="{% url 'Profesional' %}" class="button-home">Registrar Profesional</a></li>
                            <li><a href="{% url 'registrar-cliente' %}" class="button-home">Registrar Cliente</a></li>   
                        </ul>
                    </div>
                    <div class="title-home">
                        <h2 class="major">Editar Usuario</h2>
                    </div>
                    <div class="fields">
                        <ul class="actions-home">
                            <li><a href="{% url 'listarProfesional' %}" class="button-home">Editar Profesional</a></li>
                            <li><a href="{% url 'listar-cliente' %}" class="button-home">Editar Cliente</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
        <br> 

		<!-- fin dinamico -->
		{% endblock %}