{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Asignar Profesional y Servicios - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Slider-->
		<div class="borde">
            <h2 class="major">Asignar Profesional </h2>
            <div class="fields">
                <ul class="actions">
                    <li><a href="{% url 'asignar-profesional' %}" class="button">Asignar Profesional y Servicios</a></li>
                </ul>
            </div>
            <h2 class="major">Ver Servicios</h2>
            <div class="fields">
                <ul class="actions">
                    <li><a href="{% url 'listar-contrato' %}" class="button">Ver Servicios </a></li>
                    <li><a href="{% url 'contratos-morosos' %}" class="button">Ver Profesional con Servicios</a></li>
                </ul>
            </div>
        </div>  

		<!-- fin dinamico -->
		{% endblock %}