{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Crear Asesoria Fiscalizacion- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Crear Asesoria Fizcalizacion</h4>
                                    <p>En esta seccion se podra ingresar la informacion necesaria que necesita el profesional para la asesoria por fizcalicacion. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Crear Asesoria por Fiscalizacion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-640">
                                        <form method="POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <div class="j-row">
                                                    <div class=" j-unit">
                                                        <label class="j-icon-right" for="reg-rut">
                                                            <i class="icofont icofont-id"></i>
                                                        </label>
                                                        <input type="text" name="id_profesional" value="{{request.user.id_prof.id_profesional}}">
                                                    </div>
                                                </div>
                                                <h3>Detalle del evento de Fiscalización</h3>
                                                <br>
                                                <div class="j-row">
                                                    <div class="j-span8 j-unit">
                                                        <label class="j-input j-select" for="">
                                                            <select name="ente_fiscalizador" id="ente_fiscalizador">
                                                                <option value="">Seleccionar entidad fiscalizadora</option>
                                                                {% for t in ente_fiscalizador %}
                                                                    <option value="{{t.0}}">{{t.1}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </div>
                                                    <div class="j-span4 j-unit">
                                                        <div class="j-input">
                                                            <input type="date" class="form-control" style="height: 48px;" name="fecha" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="j-row">
                                                    <label>Información general de la fiscalización</label>
                                                    <br>
                                                    <textarea name="detalle" rows="10" cols="60"></textarea>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="j-row">
                                                    <div class="j-span6 j-unit">
                                                        <label>¿La empresa debe presentarse a juicio?</label> 
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="si" name="juicio" value="1">
                                                            <label for="si" style="padding-left: 10px;">Si</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="no" name="juicio" value="0">
                                                            <label for="no" style="padding-left: 10px;">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="j-row">
                                                    <div class="j-span6 j-unit">
                                                        <label>¿Se debe planificar reunión/conversación con el ente fiscalizador?</label> 
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="si" name="conversacion" value="1">
                                                            <label for="si" style="padding-left: 10px;">Si</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="no" name="conversacion" value="0">
                                                            <label for="no" style="padding-left: 10px;">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="j-row">
                                                    <div class="j-span6 j-unit">
                                                        <label>¿Se debe evidenciar documentación ante el ente fiscalizador?</label> 
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="si" name="evidenciar" value="1">
                                                            <label for="si" style="padding-left: 10px;">Si</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="j-span2 j-unit">
                                                        <div class="form-group row">
                                                            <input type="radio" id="no" name="evidenciar" value="0">
                                                            <label for="no" style="padding-left: 10px;">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="j-row">
                                                    <label>Descripción general de la contingecia ante la fiscalización</label>
                                                    <br>
                                                    <textarea name="contingencia" rows="10" cols="60"></textarea>
                                                </div>
                                                
                                            </div>
                                            <br>
                                            <div class="j-footer">
                                                <input type="submit" class="btn btn-primary" value="Guardar">
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- fin dinamico -->
{% endblock %}