{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Listado de solicitudes- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Listado de solicitudes</h4>
                                    <p>En esta sección se podra revisar las solicitudes creadas por el cliente. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Listado de solicitudes</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-block table-border-style">
                                        <div class="j-wrapper j-wrapper-740"> 
                                            <!-- FORMULARIO -->
                                            <form id="id-list-form" method="POST" class="j-pro" id="j-pro">
                                                {% csrf_token %}
                                                <div class="j-content">
                                                    <div class="j-row">
                                                        <div class="j-span4 j-unit">
                                                            <div class="j-input">
                                                                <select name ="id_cliente">
                                                                    <option value="">Seleccionar</option>
                                                                    {% for c in data%}
                                                                    <option value = {{c.0}}>{{c.1}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="j-span2 j-unit">
                                                            <div class="j-input">
                                                                <button type="submit" id="boton" name="boton" value="Buscar" class="btn btn-primary">Buscar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <!-- TABLA -->
                                                <div class="table-responsive">
                                                    <table id="tabla" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>id</th>
                                                                <th>Cliente</th>
                                                                <th>Profesional</th>
                                                                <th>Tipo de solicitud</th>
                                                                <th>Detalle</th>
                                                                <th>Fecha</th>
                                                                <th>Hora</th>
                                                                <th>Estado de la Solicitud</th>
                                                                <th>acción</th>
                                                            </tr>
                                                        </thead>
                                                        {% for things in check %}                                                        
                                                        <tr>
                                                            <td id = "id">{{things.0}}</td>
                                                            <td id = "cliente">{{things.1}}</td>
                                                            <td id = "profesional">{{things.2}}</td>
                                                            <td id = "tipo">{{things.3}}</td>
                                                            <td id = "detalle">{{things.4}}</td>
                                                            <td id = "fecha">{{things.5}}</td>
                                                            <td id = "hora">{{things.6}}</td>
                                                            <td id = "estado">{{things.7}}</td>
                                                            <td>
                                                                {% if things.3 == "Modificar checklist" %}
                                                                <a id="accion" class="btn btn-primary" href="{% url 'listar-checklist'%}" >Accion</a>
                                                                {% elif things.3 == "Capacitación" or things.3 == "Asesoria por accidente" or things.3 == "Asesoria por fiscalización" %}
                                                                <a id="accion" class="btn btn-primary" href="{% url 'home-calendar'%}" >Accion</a>
                                                                {% endif %}
                                                                <a class="btn btn-primary" href="{% url 'modificar-solicitud' things.0 %}">cambiar estado</a>
                                                            </td>
                                        
                                                        </tr>                                                        
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                                <br>
                                            </form>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- fin dinamico -->
{% endblock %}