{% extends 'web/011basecliente.html' %}
	{% load static %}
	{% block title %}Actividades de mejora- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Evidencia de Actividades</h4>
                                    <p>En esta sección el cliente podrá revisar sus actividades y responder entregando evidencia. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homecliente' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Evidencia de Actividades</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-block table-border-style">
                                        <div class="j-wrapper j-wrapper-740">
                                            <!-- FORMULARIO -->
                                            <form action="" method="POST" class="j-pro" id="j-pro">
                                                {% csrf_token %}
                                                <div class="j-content">
                                                    <div class="j-row">
                                                        <div class="j-span1 j-unit">
                                                            <div class="j-input">
                                                                <button type="submit" name=buscar class="btn btn-primary">Revisar</button>
                                                            </div>
                                                        </div>
                                                        <div class="j-span4 j-unit">
                                                            <div class="j-input">                                                                                                                        
                                                                <input type="hidden" name= id_cliente  class="form-control"value="{{request.user.id_cliente.id_cliente}}">
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                                <!-- TABLA -->
                                                <div class="table-responsive">
                                                    <table class = "table table-bordered" id="tablalist" >
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Cliente</th>
                                                                <th>Origen</th>
                                                                <th>Actividad</th>
                                                                <th>Estado</th>
                                                                <th class="borde-tabla">Respuesta del cliente</th>
                                                                <th>Evidencia</th>
                                                                <th>Subir evidencia</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for i in actividad %}
                                                            <tr>
                                                                <td>{{i.data.0}}</td>
                                                                <td>{{i.data.1}}</td>
                                                                <td>{{i.data.2}}</td>
                                                                <td>{{i.data.3}}</td>
                                                                <td>{{i.data.4}}</td>
                                                                <td class="borde-tabla">{{i.data.5}}</td>
                                                                <td>
                                                                    {% if i.evidencia_imagen %}
                                                                        <img src="data:evidencia_imagen/png;base64, {{i.evidencia_imagen}}" alt="" width="100">
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-primary" href="{% url 'responder-actividad' i.data.0 %}">Editar</a>
                                                                </td>
                                            
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>                                            
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- fin dinamico -->
{% endblock %}