{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Buscar checklist- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Buscar Checklist</h4>
                                    <p>En esta sección se podrá ingresar el rut del cliente y se podrá visualizar todos los checklist que tiene ingresado el cliente para ser respondidos por el profesional. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeprofesional' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Buscar Checklist</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-740">
                                        <form id="id-list-form" method="POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <div class="j-row">
                                                    <div class="j-span8 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="">
                                                                <i class="icofont icofont-id"></i>
                                                            </label>
                                                            <input class="form-control form-control-uppercase" type="text" name="id_cliente" id ="id_cliente" value="{{ID_CLIENTE}}" onkeyup="saveValue(this)" maxlength="10">
                                                        </div>
                                                    </div>
                                                    <div class="j-span4 j-unit">
                                                        <div class="j-input">
                                                            <ul class="">
                                                                <button type="submit" class="btn btn-primary" id="boton" name="boton" value="Buscar">Buscar</button>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                                <br>                                                
                                            </div>
                                            <br>
                                            {% if check %}
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table id="tabla" class="table table-bordered">
                                                        {% for things in check %}
                                                        {% if things.resultado %}
                                                        <tr>
                                                            <td id = "id">{{things.id_cliente.id_cliente}}</td>
                                                            <td id = "empresa">{{things.id_cliente.nombre_empresa}}</td>
                                                            <td id = "item">{{things.checklist}}</td>
                                                            <td><a id="cancelar" class="cancelar inactivo-table" href="{% url 'cancelar' things.id %}" >NO</a></td>
                                                            <td><a href="#" class="button">Editar</a></td>
                                        
                                                        </tr>
                                                        {% else %}
                                                        <tr>
                                                            <td id = "id">{{things.id_cliente.id_cliente}}</td>
                                                            <td id = "empresa">{{things.id_cliente.nombre_empresa}}</td>
                                                            <td id = "item">{{things.checklist}}</td>
                                                            <td><a id = "tachar" class="tachar activo-table" href="{% url 'tachar' things.id %}" >SI</a></td>
                                                            <td><a href= "{% url 'editar-checklist' things.id %} " class="button">Editar</a></td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>                                                
                                            {% endif %}
                                        </form>
                                        <br>  
                                        <br>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- tree seccion - script -->

<script type="text/javascript">
    document.getElementById('id_cliente').value = getSavedValue('id_cliente');

    function saveValue(e){
        var id = e.id;
        var val = e.value;
        localStorage.setItem(id,val);
    }

    function getSavedValue(v){
        if(!localStorage.getItem(v)){
            return "";
        }
        return localStorage.getItem(v);
    }    

    window.onload = function(event){
        if(!window.location.hash){
            window.location = window.location + '#loaded';
            window.location.reload();
            document.getElementById('boton').click();
        }
    }


</script>
<!-- fin dinamico -->
{% endblock %}