{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Listar Profesional - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - subir -->
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Listado de profesionales</h4>
                                    <p>Seccion donde se podran ver todos los profesionales registrados en sistema.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeadmin' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Listar Profesional</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="j-pro">
                                        <div class="col-sm-12">                                               
                                            <div class="j-content">
                                                <div class="j-row">
                                                    <div class="j-span3 j-unit">
                                                        <div class="j-input">
                                                            <label class="j-icon-right" for="rut">
                                                                <i class="icofont icofont-id"></i>
                                                            </label>
                                                            <input type="text" id="reg-rut" name="rut" placeholder="RUT" maxlength="10">
                                                        </div>
                                                    </div>
                                                    <div class="j-span6 j-unit">
                                                        <div class="j-input">
                                                            <button type="submit" class="btn btn-primary">Buscar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                        </div> 
                                    </div>                                                       
                                        <table class = "table table-bordered" id="tablalist">
                                            <thead>
                                                <tr>
                                                    <th>Run</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Comuna</th>
                                                    <th>Dirección</th>
                                                    <th>Telefono</th>
                                                    <th>Estado</th>
                                                    <th>Estado del contrato</th>
                                                    <th>Tipo de profesional</th>
                                                    <th>acción</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in salida %}
                                                <tr>
                                                    <td>{{i.0}}</td>
                                                    <td>{{i.1}}</td>
                                                    <td>{{i.2}}</td>
                                                    <td>{{i.3}}</td>
                                                    <td>{{i.4}}</td>
                                                    <td>{{i.5}}</td>
                                                    <td>{{i.6}}</td>
                                                    {% if i.7 == 0 %}
                                                    <td class="inactivo-table">Inactivo</td>
                                                    {% else %}
                                                    <td class="activo-table">Activo</td>
                                                    {% endif %}
                                                    <td>{{i.8}}</td>
                                                    <br>
                                                    <td>
                                                        <a class="btn btn-primary" href="{% url 'modificar-profesional' i.0 %}">Editar</a>
                                                        
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin dinamico -->
        {% endblock %}  