{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{%static 'css/estilos.css' %}">
    <title>Listado de clientes</title>
</head>
<body>
    <h1>Listado de clientes</h1>
    <div>
        <form action="" method="GET">
            {% csrf_token %}
        <table class = "content-table" id="tablalist">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Comuna</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Estado del servicio</th>
                    <th>Tipo de empresa</th>
                    <th>acción</th>
               </tr>
            </thead>
            <tbody>
                {% for i in clien %}
                <tr>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td>{{i.5}}</td>
                    {% if i.6 == 0 %}
                    <td>Inactivo</td>
                    {% else %}
                    <td>Activo</td>
                    {% endif %}
                    <td>{{i.7}}</td>
                    <br>
                    <td>
                        <a class="button success" href="{% url 'modificar-cliente' i.0 %}">Editar</a>
                        <a class="button success" href="{% url 'eliminar-cliente' i.0 %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        <br>
        </form>
</div>
</body>
</html>