{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Listar Cliente - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Listar Cliente-->
        <div class="total">
            <h2 class="major">Listado de clientes</h2>
            <div class="table-wrapper">
                <form action="" method="GET">
                    {% csrf_token %}
                <table class = "alt" id="tablalist">
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Comuna</th>
                            <th>Telefono</th>
                            <th>Dirección</th>
                            <th>Estado del servicio</th>
                            <th>Tipo de empresa</th>
                            <th>acción</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in clien %}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.5}}</td>
                            {% if i.6 == 0 %}
                            <td class="inactivo-table">Inactivo</td>
                            {% else %}
                            <td class="activo-table">Activo</td>
                            {% endif %}
                            <td>{{i.7}}</td>
                            <br>
                            <td>
                                <a class="button" href="{% url 'modificar-cliente' i.0 %}">Editar</a>
                                <a class="button" href="{% url 'eliminar-cliente' i.0 %}">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                <br>
                </form>
            </div>
        </div>

        <!-- fin dinamico -->
        {% endblock %}