<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar cliente</title>
</head>
<body>
    <h1>Modificar cliente</h1>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">RUT</label> <input type="text" name="id" value ={{idc}}>
            <br>
            <br>
            <label for="">Nombre empresa</label> <input type="text" name="nombre" value={{nom}}>
            <br>
            <br>
            <label for="">Email</label> <input type="email" name="email" value={{email}}>
            <br>
            <br>
            <label for="">Clave</label> <input type="password" name="password" value={{pass}}>
            <br>
            <br>
            <label for="">Comuna</label> 
            <select name="lista_comuna" id="lista_comuna">
                <option value="{{comid}}">{{com}}</option>
                {% for c in lista_comuna %}
                    <option value="{{c.0}}">{{c.1}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="">Telefono</label> <input type="text" name="telefono" value={{telefono}}>
            <br>
            <br>
            <label for="">Direccion</label> <input type="text" name="direccion" value={{direccion}}>
            <br>
            <br>
            <label for="">Estado del servicio</label> 
            <select name="servicio" id="servicio" class="servicio">
                {% if estado == True %}
                <option value="{{estado}}">Activo</option>
                {% else %}
                <option value="{{estado}}">Inactivo</option>
                {% endif %}
                <option value="1">Activo </option>
                <option value="0">Inactivo </option>
            </select>
            <br>
            <br>
            <label for="">Tipo de empresa</label>
            <select name="tipocli" id="tipocli">
                <option value="{{tipoid}}">{{tipo}}</option>
                {% for t in tipo_cliente %}
                    <option value="{{t.0}}">{{t.1}}</option>
                {% endfor %}
            <br>
            <br>
            <label for="">Enviar contraseña por correo</label> <input type="checkbox", name="enviopass">
            <br>
            <input type="submit" value="Guardar">

        </form>
    </div>
</body>
</html>