{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Modificar Cliente - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Modificar Cliente-->
        <div class="borde">
            <h2 class="major">Modificar cliente</h2>
            <div class="fields">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="field half">
                        <label for=""> RUT </label> 
                        <input  type="text" name="id" value ="{{idc}}" readonly  >
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Nombre empresa</label> 
                        <input type="text" name="nombre" value="{{nom}}">
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Email</label> 
                        <input type="email" name="email" value="{{email}}">
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Clave</label> 
                        <input type="password" name="password" value="{{pass}}">
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Comuna</label> 
                        <select name="lista_comuna" id="lista_comuna">
                            <option value="{{comid}}">{{com}}</option>
                            {% for c in lista_comuna %}
                                <option value="{{c.0}}">{{c.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Telefono</label> 
                        <input type="text" name="telefono" value="{{telefono}}">
                    </div>
                    <br>
                    
                        <label for="">Direccion</label> 
                        <input type="text" name="direccion" value="{{direccion}}">
                    </div>
                    <br>
                  

                        <div class="field">
                        <label for="">Estado del servicio</label> 
                        <select name="servicio" id="servicio" class="servicio">
                            {% if estado == True %}
                            <option value="{{estado}}">Activo</option>
                            {% else %}
                            <option value="{{estado}}">Inactivo</option>
                            {% endif %}
                            <option value="1">Activoo </option>
                            <option value="0">Inactivoo </option>
                        </select>
                    
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Tipo de empresa</label>
                        <select name="tipocli" id="tipocli">
                            <option value="{{tipoid}}">{{tipo}}</option>
                            {% for t in tipo_cliente %}
                                <option value="{{t.0}}">{{t.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Profesion Asignado</label>
                        <select name="lista_profesional" id ="lista_profesional">
                            <option value="{{idprof}}">{{prof}}</option>
                            {% for t in lista_profesional %}
                                <option value="{{t.0}}">{{t.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="field half">
                        <input type="checkbox", name="enviopass">
                        <label for="">Enviar contraseña por correo</label> 
                    </div>
                    <br>
                    <ul class="actions">
                        <li><input type="submit" value="Guardar" class="primary"></li>
                    </ul>
                    
        
                </form>
            </div>
        </div>

        <!-- fin dinamico -->
        {% endblock %}
