{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Modificar Profesional - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - Modificar Profesional-->
        <div class="borde">
            <h2 class="major">Modificar Profesional</h2>
            <div class="fields">
                <form name= 'myForm' action ="" method = "POST">
                    {% csrf_token %}
                    <div class="field half">
                        <label for="">Run</label> 
                        <input type="text" name="id" value ={{idp}} >
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Nombre</label> 
                        <input type="text" name="nombre" value={{nom}}>
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Email</label> 
                        <input type="email" name="email" value={{email}}>
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Clave</label> 
                        <input type="password" name="password" value={{pass}}>
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Comuna</label> 
                        <select name="lista_comuna" id="lista_comuna">
                            <option value="{{comid}}">{{com}}</option>
                            {% for c in lista_comuna %}
                                <option value="{{c.0}}">{{c.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Direccion</label> 
                        <input type="text" name="direccion" value="{{direccion}}">
                    </div>
                    <br>
                    <div class="field half">
                        <label for="">Telefono</label> 
                        <input type="text" name="telefono" value="{{telefono}}">
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Estado</label>
                        <select name="estado" id="estado">
                            <option value="{{estado}}">-----</option>
                            <option value="Disponible">Disponible</option>
                            <option value="En terreno">En terreno</option>     
                        </select>
                    </div>
                    
                    <br>
                    <div class="field">
                        <label for="">Tipo de profesional</label> 
                        <select name="tipoprof" id="tipoprof">
                            <option value="{{tipoid}}">{{tipo}}</option>
                            {% for t in tipo_profesional %}
                                <option value="{{t.0}}">{{t.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="">Contrato activo</label> 
                        <select name="contrat" id="contrat" class="contrat">
                            {% if contrat == True %}
                            <option  value="{{contrat}}">----- </option>
                            {% else %}
                            <option  value="{{contrat}}">-----</option>
                            {% endif %}
                            <option value="1">Activo </option>
                            <option value="0">Inactivo </option>
                        </select>
                    </div>
                    <br>
                    <ul class="actions">
                        <li><input type="submit" value="Modificar" class="primary"></li>
                    </ul>
                    <br>
                    </form>
                {{mensaje}}
            </div>
        </div>

        <!-- fin dinamico -->
        {% endblock %}