{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Modificar Cliente - SCP{% endblock %}
		{% block content %}
		<!-- dinamico -->
        <!-- one seccion - subir -->
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Modificar cliente</h4>
                                    <p>Seccion donde se podra editar los datos del cliente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homeadmin' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'listar-cliente' %}">Listar Cliente</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Editar Cliente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <!-- FORMULARIO -->
                                <div class="card-block">
                                    <div class="j-wrapper j-wrapper-640">
                                        <form action="" method="POST" class="j-pro" id="j-pro">
                                            {% csrf_token %}
                                            <div class="j-content">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for=""> RUT </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="id" value ="{{idc}}">
                                                    </div>                                                    
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Nombre empresa</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="nombre" value="{{nom}}">
                                                    </div>                                                    
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" name="email" value="{{email}}">
                                                    </div>                                                     
                                                </div> 
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Clave</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" name="password" value="{{pass}}">
                                                    </div>                                                     
                                                </div>                                                
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Comuna</label>
                                                    <div class="col-sm-10">
                                                        <select name="lista_comuna" id="lista_comuna">
                                                            <option value="{{comid}}">{{com}}</option>
                                                            {% for c in lista_comuna %}
                                                                <option value="{{c.0}}">{{c.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <i></i>
                                                    </div>                                                     
                                                </div>                                                
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Teléfono</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="telefono" value="{{telefono}}" maxlength="9">
                                                    </div>                                                     
                                                </div>                                                
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Dirección</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="direccion" value="{{direccion}}">
                                                    </div>                                                     
                                                </div>                                     
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Estado del servicio</label>
                                                    <div class="col-sm-10">
                                                        <select name="servicio" id="servicio" class="servicio">
                                                            {% if estado == True %}
                                                            <option value="{{estado}}">Activo</option>
                                                            {% else %}
                                                            <option value="{{estado}}">Inactivo</option>
                                                            {% endif %}
                                                            <option value="1">Activoo </option>
                                                            <option value="0">Inactivoo </option>
                                                        </select>
                                                    </div>                                                                                                     
                                                </div>                                              
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Tipo de empresa</label>
                                                    <div class="col-sm-10">
                                                        <select name="tipocli" id="tipocli">
                                                            <option value="{{tipoid}}">{{tipo}}</option>
                                                            {% for t in tipo_cliente %}
                                                                <option value="{{t.0}}">{{t.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>                                                    
                                                </div>                                                
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label" for="">Profesional Asignado</label>
                                                    <div class="col-sm-10">
                                                        <select name="lista_profesional" id ="lista_profesional">
                                                            <option value="{{idprof}}">{{prof}}</option>
                                                            {% for t in lista_profesional %}
                                                                <option value="{{t.0}}">{{t.1}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>                                                    
                                                </div>
                                                <!-- ENVIAR CONTRASENA -->
                                                <div class="form-group row">
                                                    <div class="col-sm-10">
                                                        <div class="checkbox-fade fade-in-primary">
                                                            <label>
                                                                <input type="checkbox" id="checkbox" name="enviopass" value="HTML">
                                                                <span class="cr">
                                                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                </span>
                                                                <span>Enviar contraseña por correo</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="j-response"></div>
                                            </div>   
                                            <!-- BUTON ENVIAR -->
                                            <div class="j-footer">
                                                <button type="submit" class="btn btn-primary">Modificar</button>
                                                <button href="#" class="btn btn-default m-r-20">Cancelar</button>
                                            </div>                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin dinamico -->
        {% endblock %}
