<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
#invoice thead tr th{
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 4px;
}
#invoice thead tr{
    margin-bottom: 0;
    padding-bottom: 0;
}

#invoice tbody tr{
    padding:1;
}

.text-center{
    text-align: center;
}

h1{
    font-size: 40px;
}

label{
    font-size: 13px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

</style>
<body>
    <div>
    <h1>Reporte de las asesorias por fiscalización</h1>
    <label>Nombre cliente: {{cliente.nombre_empresa}}</label>
    <br>
    <label>RUT cliente: {{cliente.id_cliente}}</label>
    <br>
    <label>Profesional a cargo: {{cliente.id_profesional.nombre_completo}}</label>
    </div>
<hr>
<br>
<h2>Planificación de las asesorias por fiscalización</h2>
<table id="invoice">
    <thead>
        <tr>
            <th>N° servicio</th>
            <th>Empresa</th>
            <th >Fecha del servicio</th>
            <th >Hora</th>
            <th >Tipo servicio</th>
            <th>Ente fiscalizador</th>
            <th>Fecha de la fiscalización</th>
            <th>Detalles</th>
            <th>Posibilidad de ir a juicio</th>
            <th>Planificar conversación con el fiscalizador</th>
            <th>Evidenciar documentación</th>
            <th>Contingencia</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for a in asesoria %}
        <tr>
            
            <td >{{a.0}}</td>
            <td >{{a.1}}</td>
            <td >{{a.2}}</td>
            <td >{{a.3}}</td>
            <td >{{a.4}}</td>
            <td >{{a.5}}</td>
            <td >{{a.6}}</td>
            <td >{{a.7}}</td>
            {% if a.8 == 1%}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
            {% if a.9 == 1%}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
            {% if a.10 == 1%}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td >{{a.11}}</td>
            <td >{{a.12}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<br>
<h2>Resultado de las Asesorias</h2>
<table id="invoice">
    <thead>
        <tr>
            <th>N° servicio</th>
            <th >N° resultado</th>
            <th >Empresa</th>
            <th >Tipo servicio</th>
            <th>Fecha finalización</th>
            <th>Analisis del servicio completado</th>
            <th>Resultado</th>
            <th>Areas de oportunidad</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultado %}
        <tr>
            
            <td >{{r.0}}</td>
            <td >{{r.1}}</td>
            <td >{{r.2}}</td>
            <td >{{r.3}}</td>
            <td >{{r.4}}</td>
            <td >{{r.5}}</td>
            <td >{{r.6}}</td>
            <td >{{r.7}}</td>
                    
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>