{% extends 'web/020baseadmin.html' %}
	{% load static %}
	{% block title %}Registrar Cliente- SCP{% endblock %}
		{% block content %}
                        <!-- dinamico -->
                        <!-- one seccion - subir -->
                        <br>
                        <ul class="actions">
                            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
                        </ul>
                        <!-- two seccion - contenido -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- TITULO PAGINA HEADER -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <!-- INFORMACION -->
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Listado de clientes</h4>
                                                    <p>En esta sección se podrá ver los clientes y generar los PDF para ver el detalle de la situación actual de cada cliente. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- RUTA -->
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="{% url 'homeadmin' %}"> <i class="feather icon-home"></i> </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Listado de clientes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CONTENIDO -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-block table-border-style">
                                                    <div class="j-wrapper j-wrapper-740">
                                                        <form action="" method="GET" class="j-pro" id="j-pro">
                                                            {% csrf_token %}
                                                            <div class="table-responsive largo-table">
                                                                <table class = "table table-bordered" id="tablalist">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Rut</th>
                                                                            <th>Nombre</th>
                                                                            <th>Email</th>
                                                                            <th>Comuna</th>
                                                                            <th>Telefono</th>
                                                                            <th>Dirección</th>
                                                                            <th>Estado del servicio</th>
                                                                            <th>Tipo de empresa</th>
                                                                            <th>acción</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for i in clien %}
                                                                        <tr>
                                                                            <td>{{i.0}}</td>
                                                                            <td>{{i.1}}</td>
                                                                            <td>{{i.2}}</td>
                                                                            <td>{{i.3}}</td>
                                                                            <td>{{i.4}}</td>
                                                                            <td>{{i.5}}</td>
                                                                            {% if i.6 == 0 %}
                                                                            <td>Inactivo</td>
                                                                            {% else %}
                                                                            <td>Activo</td>
                                                                            {% endif %}
                                                                            <td>{{i.7}}</td>
                                                                            <br>
                                                                            <td>
                                                                                <a class="btn btn-primary largito" href="{% url 'visitas-reporte' i.0 %}">reporte visitas</a>
                                                                                <br>
                                                                                <br>
                                                                                <a class="btn btn-primary largito" href="{% url 'visitas-capacitacion' i.0 %}">reporte capacitaciones</a>
                                                                                <br>
                                                                                <br>
                                                                                <a class="btn btn-primary largito" href="{% url 'asesoria-accidente' i.0 %}">reporte asesorias por accidente</a>
                                                                                <br>
                                                                                <br>
                                                                                <a class="btn btn-primary largito" href="{% url 'asesoria-fiscalizacion' i.0 %}">reporte asesorias por fiscalización</a>
                                                                                <br>
                                                                                <br>
                                                                                <a class="btn btn-primary largito" href="{% url 'reporte-solicitud' i.0 %}">reporte solicitudes</a>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                                <br>
                                                            </div>
                                                        <br>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
		<!-- fin dinamico -->
		{% endblock %}