{% extends 'web/003baseprofesional.html' %}
	{% load static %}
	{% block title %}Editar item de checklist- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - Editar item de checklist -->
        <br>
        <div class="borde-centro">
            <h1 class="major">Editar item de checklist</h1>
            <div class="contorno-marco">
                <div class="fields">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field half">
                            {{form.checklist}}
                        </div>
                        <div class="field half">
                            {{form.checklist}}
                        </div>
                        <ul class="actions">
                            <input type="submit" name="Responder check" class="primary">
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    
<!-- fin dinamico -->
{% endblock %}
