{% extends 'web/011basecliente.html' %}
	{% load static %}
	{% block title %}Reporte de Solicitud- SCP{% endblock %}
        {% block content %}
        <!-- dinamico -->
        <!-- one seccion - subir -->
        <br>
        <ul class="actions">
            <li><a onclick="topFunction()" id="myBtn" class="fas fa-angle-up" title="Go to top"></a></li>
        </ul>
        <!-- two seccion - contenido -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- TITULO PAGINA HEADER -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <!-- INFORMACION -->
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Reporte de Solicitud</h4>
                                    <p>En esta sección el cliente podrá revisar y descargar la información obtenida a través del informe generado por el administrador. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- RUTA -->
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'homecliente' %}"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Reporte de Solicitud</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENIDO -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-block table-border-style">
                                        <div class="j-wrapper j-wrapper-640">
                                            <!-- FORMULARIO -->
                                            <embed src="{% url 'pdf-solicitud' %}" style="width:718px; height:700px;" frameborder="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- fin dinamico -->
{% endblock %}